*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('img/fondo4.jpg');
    background-size: cover;
}

#formulario{
    width: 400px;
    background: brown;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

#formulario > h3{
    font-size: 30px;
    color: rgb(224, 155, 64);
    text-align: center;
    font-family: 'Showcard Gothic';
}

.form{
    width: 100%;
    background: rgb(156, 68, 41);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rosybrown;
    font-family: 'calibri';
    font-size: 18px;
}

#formulario .principal {
    background: #c25a1e;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 25px;
    width: 100%;
    cursor: pointer;
    font-family: 'Snap ITC';
}

#formulario input[type="button"]:hover{
    background:rgb(255, 174, 82);
}

#tabla_factura{
    background-color: white;
    text-align: left;
}

th, td{
    border:  solid 1px black;
    padding: 5px;
}

thead{
    background-color: brown;
    border-bottom: solid 1px black;
    color: black;
}

tr :nth-child(even){
    background-color: rgb(197, 100, 100) ;
}


tr:hover td{
    background-color: rgb(131, 58, 58) ;
}